@model Bilal.Models.Quiz

@{
    ViewBag.Title = "netQuiz";
}

<link href="~/data/css/grayscale.css" rel="stylesheet">
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <form action="/Student/GiveQuizC" method="post">
        <h4>Are you Sure You Wanna Enter to hell.....If yes Press Enter </h4>
        <button type="submit" name="b1" value="yes" class="btn btn-success">Yes</button>
        @*<h4>If "NO" presss the Button Below</h4>
        <button type="submit" name="b1" value="no" class="btn btn-success">No</button>*@
    </form>

